
:root {
  --background-c: #D9D9D9;
  /* --purple-acc: #af80a3;  */
  --purple-acc: #466a79; 
  /* --green-acc: #5C7868;  */
  --green-acc: #719782; 
  --font-family:  "Montserrat", sans-serif;
  --font-family-h: "Kanit", sans-serif;
  --text-white: #D9D9D9;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-c);
  margin: 0;
}
/* Header CSS:  */
.header {
  display: flex;
  
  background-color: var(--purple-acc);
  padding: 1.5em;
}
.header-div {
  max-width: 1180px;
  margin: auto;
  flex-grow: 1;
  /* align-self: center; */
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* font-family: var(--font-family-h); */
  font-size: larger;
}
.navlink {
  text-decoration: none;
  color: var(--text-white);
  margin: 0 2em;
}
.navlink:hover {
  text-decoration: underline;
  color: #afafaf;
}

/* Landing pange CSS:  */
/* .linda-westerlund-h {
  text-align: center;
} */

.welcome-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1em;
  place-items: center;
 
}
.profile-pic, .profile-pic-cv {
  width: 200px;
  border-radius: 12%;
  margin-top: 4em;
  margin-left: 4em;

}
/* .welcome-txt {
  background-color: var(--green-acc);
  padding: 0.7em;
  border-radius: 1.5em;
  box-shadow: 3px 3px 20px 4px #272e2a;

} */
.lia-container {
  text-align: center;
}
.lia-container p {
  margin: 0;
}
.lia-head { 
  margin: 0.5em ; 
}
.period-container {
  background-color: var(--purple-acc);
  font-size: larger;
  padding: 1.5em;
  margin: 0.5em;
  border-radius: 0.2em;
}
.period-container h4 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

/* Alt landing CSS :  */
.wel-pic {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background: linear-gradient(0deg, rgb(75, 114, 43) 0%, rgb(92, 132, 180) 50%);
  
}
.field-pic { 
  height: 350px;
}
.text {
  margin-top: 3em;
  margin-right: 4em;
  margin-left: 4em;
  grid-row: span 2;
}
.name {
  position: absolute;
  top: 3.5em;
  font-size: 40px;
}
.welcome-txt {
  max-width: 1180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
}
.LIA-container h3 {
  margin-bottom: 0.2em;
  /* text-align: center; */
}
.lia-period {
  background-color: var(--purple-acc);
  max-width: 150px;
  /* font-size: larger; */
  padding: 0.5em 0 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  border-radius: 0.2em;
  margin-left: 4em;
  text-align: center;
  color: #D9D9D9;
}
.lia-period h4 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  
}
.LIA-container h3 {
  margin-left: 4em;
  
}
.lia-period p {
  margin-bottom: 0;
  margin-top: 0.4em
  /* background-color: aqua; */
}
.classes-container {
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
  background-color: var(--green-acc);
  margin: auto;
  padding: 0.5em;
  /* place-self: center; */
  margin-left: 4em;
  margin-bottom: 4em;
  margin-right: 4em;
  /* gap: 1em; */
}

.last-child {
  margin-left: 4em;
  margin-right: 4em;
}
span {
  font-weight: bold;
}
.active-course {
  grid-column: span 2;
  text-align: center;
  /* gap: 0; */
  /* @media (max-width: 500px) {
    grid-row: span 1;
    grid-template-columns:  1fr;
    
} */
}




/* CV CSS  */

.cv-container {
  max-width: 1180px;
  display: grid;
  grid-template-columns: 2fr 1fr ;
  margin: auto;

}

.CV {
  /* background-color: rgb(95, 121, 74);
  background-color: var(--green-acc); */
  margin: 1em;
  padding: 3em;
  /* text-align: center; */
  place-items: center;
  /* place-content: center;
  place-self: center; */
  max-width: 40em;
}
.CV h4 {
  text-align: center;
}
.profile-pic-cv {
  justify-self: center;
  margin: 1em;
}
.edu-lang-containers {
  background-color: var(--purple-acc);
  padding: 1em;
  padding-left: 2em;
  margin: 1em;
}
.edu-lang-containers h4 {
  margin: 0.5em 0 0.2em 0;
}
.edu-lang-containers p {
  margin: 0.5em 0 0.5em 0;
  color: #afafaf;
}
.edu-lang-containers li {
  margin-top: 1em;
  color: #afafaf;
}
.centered-text {
  text-align: center;
}
.logos {
  margin: 0.5em;
  width: 67px;
}

/* projekt CSS :  */ 
.project-container {
  max-width: 1180px;
  margin: auto;
  display: grid;
  /* grid-template-columns: 1fr 3fr; */

  /* margin: auto; */
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--green-acc);
  font-family: var(--font-family-h);
  
}
.sidebar a {
  margin-top: 1.5em;
}


.right {
 place-self: end;
}
.preview-card {
display: grid;
grid-template-columns: 1fr 1fr ;
align-items: center;
gap: 0.5em;
margin: 0 1em;
padding: 1em;
border-bottom: 1px solid var(--purple-acc);
}
.preview-card h4 {
  grid-column: span 2;
  text-align: center;
}
.preview-card p {
  margin-bottom: 0;
}
.preview-pic {
  width: 300px;
 grid-row: 2 / span 2;
 grid-column: 2;
 place-self: end;
 /* grid-area: span 2; */
}
.preview-pic-two {
  width: 300px;
 grid-row: 2 / span 2;
 grid-column: 1;
 /* grid-area: span 2; */
}

@media (max-width: 590px) {
  .header {
    padding: 1em 0;
    font-size: small;
  }
  .navlink {
    margin: auto;
  }
  .profile-pic {
    width: 150px;
  }
  .welcome-txt {
    max-width: 600px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* place-items: center; */
  }
  .text {
    grid-row: span 0;
  }
  .classes-container {
    grid-template-columns:  1fr;
    grid-column: span 1;
    margin: 0;
    padding: 0;
  }
  .active-course {
    grid-column: span 1;

  }
  /* .overview-projects {
    display: grid;
    grid-template-columns: 1fr;
  } */
  .preview-card {
    grid-template-columns: 1fr;
    text-align: center;
    /* background-color: aqua; */
      h4 {
        grid-column: span 1;
      }
      .preview-pic{
        grid-area: span 1;
      }
      .right{
        place-self: center;
      }
      .preview-pic, .preview-pic-two {
        width: 200px;
       
        place-self: center;
      }
  }
  .cv-container {
    grid-template-columns: 1fr;
      .CV {
        margin: 0;
      }
      .edu-lang-containers {
        margin: 0;
        list-style-type: none;
        /* padding: 0.1em; */
      }
      /* .tech-lang {
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      } */
  }
  
    
  }
  @media (max-width: 350px) {
    .header {
      font-size: smaller;
    }
    .classes-container {
      margin: auto;
    }

  }