
:root {
  --background-c: #D9D9D9;
  /* --purple-acc: #af80a3;  */
  --purple-acc: #466a79; 
  /* --green-acc: #5C7868;  */
  --green-acc: #719782; 
  --font-family:  "Montserrat", sans-serif;
  --font-family-h: "Kanit", sans-serif;
  --text-white: #D9D9D9;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-c);
  margin: 0;
}
/* Header CSS:  */
.header {
  background-color: var(--purple-acc);
  padding: 1.5em;
  /* margin-bottom: 2em; */
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* font-family: var(--font-family-h); */
  font-size: larger;
}
.navlink {
  text-decoration: none;
  color: var(--text-white);
  margin: 0 2em;
}
.navlink:hover {
  text-decoration: underline;
  color: #afafaf;
}

/* Landing pange CSS:  */
/* .linda-westerlund-h {
  text-align: center;
} */

.welcome-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1em;
  place-items: center;
 
}
.profile-pic, .profile-pic-cv {
  width: 150px;
  border-radius: 50%;

}
/* .welcome-txt {
  background-color: var(--green-acc);
  padding: 0.7em;
  border-radius: 1.5em;
  box-shadow: 3px 3px 20px 4px #272e2a;

} */
.lia-container {
  text-align: center;
}
.lia-container p {
  margin: 0;
}
.lia-head { 
  margin: 0.5em ; 
}
.period-container {
  background-color: var(--purple-acc);
  font-size: larger;
  padding: 1.5em;
  margin: 0.5em;
  border-radius: 0.2em;
}
.period-container h4 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

/* Alt landing CSS :  */
.wel-pic {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background: linear-gradient(0deg, rgb(75, 114, 43) 0%, rgb(92, 132, 180) 50%);
}
.field-pic { 
  height: 350px;
}
.name {
  position: absolute;
  top: 3.5em;
  font-size: 40px;
}
.welcome-txt {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2em;
}

/* CV CSS  */

.cv-container {
  display: grid;
  grid-template-columns: 2fr 1fr ;

}

.CV {
  background-color: rgb(95, 121, 74);
  background-color: var(--green-acc);
  margin: 1em;
  padding: 3em;
  /* text-align: center; */
  place-items: center;
  /* place-content: center;
  place-self: center; */
  max-width: 40em;
}
.CV h4 {
  text-align: center;
}
.profile-pic-cv {
  justify-self: center;
  margin: 1em;
}
.edu-lang-containers {
  background-color: var(--purple-acc);
  padding: 1em;
  padding-left: 2em;
  margin: 1em;
}
.edu-lang-containers h4 {
  margin: 0.5em 0 0.2em 0;
}
.edu-lang-containers p {
  margin: 0.5em 0 0.5em 0;
}
li {
  margin-top: 1em;
}
.centered-text {
  text-align: center;
}
.logos {
  margin: 0.5em;
  width: 67px;
}